<mat-card class="home" fxLayout="column" fxLayoutAlign="start" fxLayoutGap="20px">
  <mat-card-header>
    <mat-card-title>Character sheets list</mat-card-title>
    <mat-card-subtitle>Only Naheulbeuk implemented yet, more to come</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content fxLayout="row" fxLayoutGap="20px">
    <mat-card class="home-card" *ngFor="let character of characters" fxLayout="column" fxLayoutAlign="space-around center" (click)="goToCharacter(character)">
      <mat-card-header>
        <mat-card-title class="home-card-title">{{ character.name | titlecase }}</mat-card-title>
      </mat-card-header>
      <img mat-card-image [src]="'../assets/' + character.game + '_logo.png'" alt="logo">
      <mat-card-content class="home-card-description">
        {{ character.race | titlecase }} | {{ character.class | titlecase }}
      </mat-card-content>
    </mat-card>
  </mat-card-content>
</mat-card>
