.home {
  margin: 2%;

  .home-card {
    width: 10%;
    min-height: 200px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

    .home-card-description, .home-card-title {
      text-align: center;
    }
  }
}
